.App {
  text-align: center;
}

.navbar-brand {
  font-size: 30px;
}

.contact-details {
  text-align: center;
  /* width: 40%; */
  padding: 0 35%;
}

.contact-details:nth-child(2) {
  font-size: larger;
}