.App {
  text-align: center;
}

.navbar-brand {
  font-size: 30px;
}

.contact-details {
  text-align: center;
  padding: 0 35%;
  position: relative;
}

.card {
  text-align: left;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.button:hover {
  color: blue !important;
}